<% provide :title, t(".title") %>
<h1><%= t(".title") %></h1><hr>

<%= link_to new_admin_book_path, class: "btn btn-primary" do %>
  <span class="glyphicon glyphicon-plus">&nbsp;<%= t(".new") %></span>
<% end %>
<hr>

<%= render "book" %>

<%= will_paginate %>
