<div class="row">
  <div class="col-md-12">
    <table class="table table-hover">
      <thead>
        <tr>
          <th class="active width30"><%= sort_link(@q, :name, t(".name")) %></th>
          <th class="text-center active width40"><%= sort_link(@q, :profile, t(".profile")) %></th>
          <th class="text-right active"><%= t ".action" %></th>
        </tr>
      </thead>
    </table>
  </div>
</div>

<% @authors.each do |author| %>
  <div class="row">
    <div class="col-md-12">
      <table class="table table-hover">
        <tr>
          <td class="width30">
            <%= link_to author.name, author %>
          </td>
          <td class="text-center width40">
            <%= author.profile %>
          </td>
          <td class="text-right">
            <%= link_to t(".delete"), admin_author_path(author),
              method: :delete, data: {confirm: t(".confirm")} %>
              | <%= link_to t(".edit"), edit_admin_author_path(author) %>
          </td>
        </tr>
      </table>
    </div>
  </div>
<% end %>
