<% provide :title, t(".title") %>
<h1><%= t ".title" %></h1>

<hr>

<div class="input-group search_inline">
  <%= search_form_for @q, url: authors_path do |f| %>
    <%= f.search_field :name_cont, class: "form-control search_input",
      placeholder: t(".search") %>

    <%= f.submit t(".button_search"), class: "btn btn-primary btn_search" %>
  <% end %>
</div><hr>

<%= render "author" %>

<%= will_paginate %>
