<% current_user.requests.newest.each do |list| %>
  <tr>
    <td><%= link_to list.id, request_path(list.id) %>

    <td><%= current_user.name %></td>
    <td><%= list.from_day %></td>
    <td><%= list.to_day %></td>
    <td><%= list.total_book %></td>
    <td class="status"><%= list.status %></td>
    <td><%= time_ago_in_words(list.created_at) %> ago</td>
    <td>
      <% if list.pending? %>
        <%= link_to t(".delete"), list, method: :delete, data: {confirm: t(".confirm")}, class: "btn btn-danger" %>
      <% end %>
    </td>
    <td><%= list.note %></td>
  </tr>
<% end %>
