<%= render template: "static_pages/home" %>

<h3 class="text-center"><b><%= t ".title" %></b></h3><hr>

<div class="container">
  <div class="input-group search_inline">
    <%= search_form_for @q, url: books_path do |f| %>
      <%= f.search_field :book_search_cont, class: "form-control search_input",
        placeholder: t(".search") %>
      <%= f.select :category_id_eq, get_categories(:name), {prompt: t(".select")}, class: "form-control search_input" %>

      <%= f.submit t(".button_search"), class: "btn btn-primary btn_search" %>
    <% end %>
  </div><hr>

  <div class="row">
    <% @books.each do |book| %>
      <%= render "book_row", book: book, request_detail: @request_detail %>
    <% end %>
  </div>
  <%= will_paginate %>
</div>
