<% provide :title, t(".title") %>

<div class="center jumbotron">
  <h1><%= t(".welcome") %></h1>

  <h2><%= t(".intro") %></h2>

  <%= link_to t(".sign_up"), signup_path, class: "btn btn-lg btn-primary" %>
</div>

<%= will_paginate %>

<ul class="books">
  <%= render @books %>
</ul>

<%= will_paginate %>
