<div class="row">
  <div class="col-md-12">
    <table class="table">
      <thead>
        <tr>
          <th class="active width30"><%= t ".name" %></th>
          <th class="text-center active width40"><%= t ".address" %></th>
          <th class="text-right active"><%= t ".action" %></th>
        </tr>
      </thead>
    </table>
  </div>
</div>

<% @publishers.each do |publisher| %>
  <div class="row">
    <div class="col-md-12">
      <table class="table table-hover">
        <tr>
          <td class="width30">
            <%= link_to publisher.name, publisher %>
          </td>
          <td class="text-center width40">
            <%= publisher.address %>
          </td>
          <td class="text-right">
            <%= link_to t(".delete"), admin_publisher_path(publisher),
              method: :delete, data: {confirm: t(".confirm")} %>
              | <%= link_to t(".edit"), edit_admin_publisher_path(publisher) %>
          </td>
        </tr>
      </table>
    </div>
  </div>
<% end %>
