<% provide :title, t(".title") %>
<h1><%= t ".title" %></h1><hr>

<%= link_to new_category_path, class: "btn btn-primary" do %>
  <span class="glyphicon glyphicon-plus">&nbsp;<%= t(".new") %></span>
<% end %>
<hr>
</br>

<%= will_paginate %>

<%= render "category" %>

<%= will_paginate %>
