<% provide :title, t(".title") %>
<h1><%= t ".title" %></h1><hr>

<%= link_to new_category_path, class: "btn btn-primary" do %>
  <span class="glyphicon glyphicon-plus">&nbsp;<%= t(".new") %></span>
<% end %>
<hr>

<div>
  <%= t ".download" %>
  <%= link_to t(".excel"), categories_path(format: "xls") %>
</div></br>

<div class="input-group search_inline">
  <%= form_tag(categories_path, method: :get) do %>
    <%= text_field_tag :search, params[:search],
    placeholder: t(".search"), class: "form-control search_input" %>
    <%= submit_tag t(".button_search"), name: nil,
    class: "btn btn-primary btn_search" %><i class="fa fa-search fa-fw"></i>
  <% end %>
</div><hr>

<%= will_paginate %>

<%= render "category" %>

<%= will_paginate %>
