<footer class="footer">
  <small>
    <%= t ".the" %> <%= link_to t(".href1_detail"), t(".href1") %>
    <%= t ".by" %> <%= link_to t(".href2_detail"), t(".href2") %>
  </small>
  <nav>
    <ul>
      <li><%= link_to t(".about"), about_path %></li>
      <li><%= link_to t(".contact"), contact_path %></li>
      <li><%= link_to t(".help"), help_path %></li>
    </ul>
  </nav>
</footer>
